.countries-Africa{
    color: blue;
}
.countries-Americas{
    color: red;
}
.countries-Asia{
    color: green;
}
.countries-Europe{
    color: yellow;
}
.countries-Oceania{
    color: purple;
}

.image {
    width: 80px;

}